@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.container {
  height: 100vh;
}

.container .row {
  justify-content: center;
  align-items: center;
  height: 100%;
}
